/* Defining color variables */
@define-color --fg #df5eff;
@define-color	--bg #1c0721;
@define-color --pink #fc3258;
@define-color --hotpink #fc3258;
@define-color --blue #50afc7;
@define-color --green #11e574;
@define-color --yellow #c5de47;
@define-color --violet #845eff;

* {
	border: none;
	min-height: 0;
  margin: 0;
  padding: 0;
  font-family: Joystix;
}

/* Waybar main window */
window#waybar {
	background: #1c0721;
	font-size: 12px;
}

/* Tooltip */
tooltip {
  background: @--bg;
  border: 1px solid @--fg;
}
tooltip label {
 	color: @--fg;
}
/* System tray */
#tray {
		background: @--bg;
		padding: 0;
		margin: 0;
		border-radius: 30px;
		padding: 0;
	}
#tray menu {
		background: #f9fbff;
		color: #91a8d0;
		border: 0px solid @--fg;
		border-radius: 6px;
	}
#tray menu menuitem {
		font-size: 13px;
		padding-top: 0px;
	}
#tray menu menuitem:hover {
			color: #8378c6;
			background: rgba(223,227,196,0.6);
}
/* MPD */
#mpd {
		margin-left: 140px;
		background: @--bg;
		color: @--fg;
		margin-left: 13px;
		border-radius: 30px;
		padding: 0px 25px;
	}

/* Workspaces */
#workspaces {
		background: @--bg;
		border-radius: 30px;
		padding: 0px 10px;
	}
#workspaces button {
		color: @--pink;
}
#workspaces button.focused {
		color: @--hotpink;
	}

/* Date */
#clock {
		background: @--bg;
		color: @--fg;
		padding: 2px;
		margin-left: 13px;
		border-radius: 30px;
		padding: 0px 25px;
}

/* Right side */

#network, #pulseaudio, #battery, #backlight, #cpu, #memory {
		background: @--bg;
		padding: 0px 7px;
}

#network { color: @--fg; }

#pulseaudio { color: @--fg; }

#cpu, #memory {
	color: #47264f;
}

#battery {
  color: @--green;
}

#battery.critical {
	color: @--hotpink;
}

#backlight {
	border-radius: 0px 30px 30px 0px;
	padding-right: 15px;
}
